<h2>This sighting of <%= @sighting.species.name %> has been deleted.</h2>

<p><a href="/species/<%= @sighting.species.id %>">Return to <%= @sighting.species.name %> species page</a></p>
<p><a href="/species">return to the species listing</a></p>
