<h2>You have recorded a sighting of the elusive <%= @sighting.species.name %></h2>

<p><a href="/species/<%= @sighting.species.id %>">View the <%= @sighting.species.name %> species page</a></p>
<p><a href="/species">Return to the species listing</a></p>
