<h2>You have recorded a sighting of the elusive <%= @sighting.species.name %></h2>

<p><a href="/species/<%= @sighting.species.id %>">Return to the <%= @sighting.species.name %> page</a> or <a href="/species">return to the species listing</a>.</p>
