<h1>All Species</h1>

<ul>
  <% @species.each do |species| %>
    <li><a href="/species/<%= species.id%>"><%= species.name %></a>
      <ul>
        <a class = 'smaller' href="species/<%= species.id%>/edit">Edit</a> |
        <a class = 'smaller' href="species/<%= species.id%>"
          data-confirm="Are you sure you want to eradicate this species?"
          data-method="delete"
          rel="nofollow">Delete</a>
      </ul>
    </li>
    <br>
  <% end %>
</ul>

<p><a href='/species/new'>Create new species</a></p>

<h3>Sightings Report</h3>

<form action="/sightings" method="get">
  <label for="sightings_start_date">Start Date</label>
  <input id="sightings_start_date" name="sightings[start_date]" type="date">
  <label for="sightings_end_date">End Date</label>
  <input id="sightings_end_date" name="sightings[end_date]" type="date">
  <button>Run report</button>
</form>
