<h2><%= @species.name %> has been updated!</h2>

<p><a href='/species/<%= @species.id %>'>View the <%= @species.name %> species page</a></p>
<p><a href='/species'>Return to the species listing</a></p>
